@import url("https://fonts.googleapis.com/css?family=Tajawal");

body {
  font-family: "Tajawal", sans-serif;
  background: whitesmoke;
}

nav {
  margin: 10px 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  border-bottom: 0px #207cb0 solid;
  color: white;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 1.5px #207cb0 solid;
}

nav .logo {
  width: 150px;
}

nav .social-media li,
nav .pages li {
  margin: 0 10px;
}

nav .social {
  width: 20px;
}

nav ul li {
  display: inline-block;
}

nav #burger{
  display:none;
}

h1 {
  color: white;
  margin: 100px auto 10px;
  width: 60%;
  font-size: 2.3em;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  color: #177bb2;
}

.hero {
  position: relative;
  width: 100%;
  height: 80vh;
}
.diagonal-hero-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1494707924465-e1426acb48cb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=ebbe35e6039a5a975028fdc5181ee044");
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

main article {
  margin: 0 auto;
  max-width: 800px;
  padding: 60px 50px;
}

.team {
}

button {
  margin-top: 10px;
  font-family: "Tajawal", sans-serif;
  font-size: 18px;
  padding: 12px 16px 7px;
  border: 1px #177bb2 solid;
  border-radius: 5px;
  color: #177bb2;
  transition: 0.4s ease-in-out;
}

button:hover {
  border: 1px whitesmoke solid;
  background: rgba(23, 123, 178, 0.3);
}

.center{
  display:flex;
  justify-content:center;
}

.center button{
  background: #177bb2;
  color:whitesmoke;
}


footer {
  padding: 10px 20px;
  color: lightgray;
}

footer hr {
  border: none;
  background-color: lightgray;
  color: lightgray;
  height: 1px;
}


@media screen and (max-width: 620px) {
  .social-media, .pages{
    display:none;
  }
  
  nav #burger{
    display:inline-block;
    font-size: 30px;
}
  h1{
    margin-top:60px;
    font-size: 1.9em;
  }
  
  
}

